[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
attr = "*"
itree = {editable = true, path = "."}
typing-extensions = "*"
click = "*"

[requires]
python_version = "3.7"
